<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <ul class="list-1">
        <li><a class="header-link1" href="/ofertas">Ofertas</a></li>
        <li><a class="header-link2" href="/tiendasOf">Tiendas Oficiales</a></li>
        <li><a class="header-link3" href="/vender">Vender</a></li>
        <li><a class="header-link4" href="/ayuda">Ayuda</a></li>
    </ul>
</body>
</html>