.main-footer section {
    text-align: center;
    margin: 10px;
}
.main-footer section i {
    font-size: 2em;
    margin-bottom: 10px;
    color: var(--sky-blue);
}


.main-footer h3 {
    margin-top: 40px;
    text-align: center;
}
@media (min-width: 769px) {
    .footer{
        display: flex;
    }
    .footer section i:hover {
        color:rgba(8, 5, 41, 0.267);
        transition: 1s;
    }
}