 
 
footer  i{
    color: var(--sky-blue);
    size: 2em;
    margin: auto;
          } 

footer.main-footer h4{
            text-align: center;
         }
   footer p{
    text-align: center;         
    font-size: 16px;
   }
   