footer.main-footer{}

footer.main-footer i{
    color: var(--sky-blue);
    font-size:2em;
    display: block;
    margin: 10px 126px 10px 126px;
}

footer.main-footer h4.paga{}

footer.main-footer p{
text-align: center;
font-size: 16px;
}

footer.main-footer h4.envio{}

footer.main-footer h4.seguridad{}

       

  
   