body.home-body{}

body header.main-header{
  background-color:var(--yellow);}

  body header img.logo{
  display:block;
  margin: 0 auto;

}

body header nav.nav-header{}

body header nav ul.ul-header{}

body header ul li a.serch{
  display: block;
  margin: 0 auto;
  background-color: white;
  padding: 2px;
 }
body header li a.serch i{
  background-color: white;
  }

 body header ul li a.buy{
  
  margin: 0 auto;
 }

 body header ul.list-1{}

 body header nav ul.list-2{}

body header nav ul.list-1 a.header-link{
    font-size: 16px;
    margin-top: 100px;
      }
            
body header div.burger-menu i{
       color:white;
       background-color: var(--blue);
       padding:5px 8px 5px 8px;
       border-radius: 10%;
       display:inline-block;
       margin:0 50% 0 50%;
       font-size: 1.8rem;
      }
     















body header ul.list-2{}